[2014-10-17 15:07] grayghostvisuals opened #2 "Add CNAME"
add ``transformicons.com`` the the CNAME. have ``transformicon.com`` redirect to ``transformicons.com``

[2014-10-18 18:57] grayghostvisuals opened #3 "Package Builder"
via [lazyweb-requests #163](https://github.com/h5bp/lazyweb-requests/issues/163#issuecomment-59624864)
@arthurvr Here's the start for the discussion on a builder.
I was thinking Yeoman for this project as the base, but I'm all ears for a discussion on diff approaches.

[2014-10-21 20:01] arthurvr opened #9 "`deploy` task"
There must be a gulp task to deploy the `site/` directory to `gh-pages`. With that task, some kind of build task should run to:

- Minify HTML/CSS/JS
- Delete unnecessary files (the `.scss` files should not be in the `gh-pages` branch)
- <del>Minify images (we don't have any yet, but those may come)</del>
- <del>Remove unnecessary css rules using https://www.npmjs.org/package/gulp-uncss</del>

Thi

[2014-10-22 16:34] HugoGiraudel opened #11 "Add focus back"
https://github.com/grayghostvisuals/transformicons/blob/master/sass/tcon/base/_tcon-globals.scss#L14

[2014-10-24 16:19] arthurvr opened #15 "Syntax highlighting problem"
Right now, In the docs the html code is tagged as `markup`. For example, in https://github.com/grayghostvisuals/transformicons/blob/master/docs/transformicons.md.

This is kind of a problem, because github only recognises `html` and `prism.js` only recognises `markup`. This is also the reason syntax highlighting is broken in the github view of the docs.

I first want to hear your ideas, but I coul

[2014-11-10 15:57] grayghostvisuals opened #21 "Template System"
Trying to decide which direction to go in here. I've found a few like [wintersmith](http://wintersmith.io), harp, [Heckle](https://github.com/marijnh/heckle) and [metalsmith](http://www.metalsmith.io). I would rly like to use assemble, but the gulp plugin is apparently not stable until 0.5 of Assemble is released. Maybe @doowb can shed some light on the progress?

[2014-11-28 20:13] grayghostvisuals opened #24 "Hosting for NodeJS"
Below is a link to a list of hosting options concerning NodeJS applications. Some are free and some are not. We need something free and we definitely need to host the project on a NodeJS capable server as we're doing a Sass conversion to CSS on the server side.

**List**
[https://github.com/joyent/node/wiki/node-hosting](https://github.com/joyent/node/wiki/node-hosting)

Openshift seems like a goo

[2015-01-06 14:28] janpaepke commented on #24
silly question but you did run `npm install` first, right?

[2015-01-06 15:30] jfroffice commented on #24
@grayghostvisuals I did not try heroku for now.

Maybe
[code]

Other people might had encountered the same issue.

[2015-01-06 20:56] grayghostvisuals commented on #24
I finally got things sorted out and working on Heroku. You should be able to see a preview here [https://warm-wildwood-3872.herokuapp.com](https://warm-wildwood-3872.herokuapp.com)

The builder is not currently working however. @jfroffice Since you write the majority of the builder do you have any thoughts? You could try with a free account on your end for Heroku if you'd like. I can surely walk y

[2015-01-07 14:24] grayghostvisuals commented on #24
Not sure if this is related to the above, but thought it might be helpful. Article discussing worker processes for background jobs which might be what our case is in need of [https://devcenter.heroku.com/articles/asynchronous-web-worker-model-using-rabbitmq-in-node](https://devcenter.heroku.com/articles/asynchronous-web-worker-model-using-rabbitmq-in-node)

[2015-01-07 14:31] jfroffice commented on #24
@grayghostvisuals

Maybe one gulp plugin failed like $.exec(..). Do you have some logs ?

I might have a look later in the week.

[2015-01-07 16:02] grayghostvisuals commented on #24
I would use the master branch and run ``npm start`` to compile then exit and run ``foreman start web`` which uses the node server that mimics what's on Heroku.

[2015-01-07 16:21] jfroffice commented on #24
OK, that's the point. :+1:

I think we need to edit ProcFile with something like this.
[code]
And create a new task called __prod__ which will be moreless like gulp task __serve__ but without $.exec and maybe some other stuff.

[2015-01-08 17:48] grayghostvisuals commented on #24
@JordanForeman So I tried many variations in the Procfile and none are working as of now. Most of the ways I've tried can be seen in the commit log for the commits on Jan 8, 2015.

[2015-01-08 17:55] JordanForeman commented on #24
@grayghostvisuals I saw that. If you're not too burned out on that approach, I have one last suggestion:

`web: node node_modules/gulp/bin/gulp`

[2015-01-08 18:05] grayghostvisuals commented on #24
@JordanForeman Yup, tried it that way and still no luck. I think the gulp server can't run with Heroku and needs the node based server (web.js) in order to run a server. If you wanna try for yourself on a free Heroku account and get it working you will get all the moneys ;)

[2015-01-08 18:22] JordanForeman commented on #24
@grayghostvisuals I'll see if I can find more time later today to find a
working solution. Glad we could at least pinpoint the problem though!

On Thu, Jan 8, 2015 at 12:05 PM, Dennis Gaebel <notifications@github.com>
wrote:

--
Jordan Foreman | thejordanforeman@gmail.com | jordanforeman.com | *cleerly.co
<http://cleerly.co>* | @jordanforeman <http://twitter.com/jordanforeman> |
641-202-3320

[2015-01-08 19:59] grayghostvisuals commented on #24
The builder issue has been filed with Heroku support [https://help.heroku.com/tickets/209454](https://help.heroku.com/tickets/209454). If you have a Heroku account you can view the ticket. I can also add collaborators to Heroku for the project on my end so let me know which email to use for you all.

Also to add that what we're trying to achieve is [totally doable with Heroku](https://twitter.com/

[2015-01-09 02:08] grayghostvisuals commented on #24
I just want to say this issue has been a pleasure, but I'm super excited to say we have lift off Houston and here's the fix for the insanely curious. Also huge thanks to @hunterloftis for the super quick support on this. Welcome to Heroku everyone. :fireworks:

[code]

![tumblr_inline_misrk5wrf81qz4rgp](https://cloud.githubusercontent.com/assets/934322/5674546/41b12b3a-977a-11e4-9187-31c892f219bc.

[2015-01-09 02:08] #24 closed

[2015-01-09 02:21] grayghostvisuals commented on #9
Just do ``git push heroku master``. I can also set this to run on every push to master via GitHub.

[2015-01-09 02:21] #9 closed

[2015-01-09 02:22] #11 closed

[2015-01-09 05:11] grayghostvisuals commented on #15
Hey Arthur if you can still fix this without removing Prism I'm down.

[2015-01-09 05:12] grayghostvisuals commented on #21
@doowb Where are things at my man?

[2015-01-09 05:59] grayghostvisuals commented on #2
http://www.transformicons.com. Boom.

[2015-01-09 06:00] #2 closed

[2015-01-09 12:57] jfroffice commented on #9
@grayghostvisuals :beer:

[2015-01-09 15:27] doowb commented on #21
I'll push up an example using `assemble 0.6.0` directly with a gulpfile. I'll probably have that later tonight since I'm at codemash right now..

[2015-01-09 16:13] grayghostvisuals commented on #21
@doowb Any chance you can leave me some instructions or quickly getting started pointers so I can give it a go myself?

[2015-01-09 16:42] doowb commented on #21
Sure...

Install `assemble 0.6.0`:

[code]

Then use it directly in your `gulpfile.js`

[code]

The `gulp-extname` is used to rename the `.hbs` to `.html` files. It basically contains a mapping of extensions, but you can manually override it by passing in an `ext` option... `.pipe(ext({ext: '.foo'}))`. This is useful if you want to render something differently or your just setting it up for anothe

[2015-01-09 17:57] hunterloftis commented on #24
:tada:

[2015-01-09 21:54] grayghostvisuals commented on #21
Thanks to @doowb we have a wonderful template system to work with. Code should be pushed shortly. Beers all around everyone.

![94393-one-for-my-homies-gif-dr-evil-zksy](https://cloud.githubusercontent.com/assets/934322/5687958/f94b4b04-981f-11e4-8c61-5ddca14b98a8.gif)

[2015-01-09 21:54] #21 closed

[2015-01-10 00:38] grayghostvisuals commented on #3
@jfroffice We're ready for markup generation now that everything holding us up has been solved. :metal: LMK if you have any questions with the new setup

[2015-01-10 17:04] #15 closed

[2015-01-11 19:41] jfroffice commented on #3
@grayghostvisuals sounds good.

I start building simple button markup.

For an extended layout, we can do better and maybe review the __builder.hbs__ in order to use a button layout.

new PR soon :smile:

[2015-01-11 20:17] grayghostvisuals commented on #3
Happy to close this issue finally. Thanks for all the efforts everyone especially @jfroffice. Much toasting all around :beers:
![lemondance](https://cloud.githubusercontent.com/assets/934322/5696619/f061a048-99a4-11e4-8acc-5a6e29a79ef7.gif)

[2015-01-11 20:17] #3 closed

[2015-01-12 01:36] grayghostvisuals opened #26 "Syntax Highlighter for Builder's Output"
I want some awesome sauce thingy that can give syntax highlighting ala prism like we have on the docs section for our builder's output sections.

[2015-01-12 07:53] jfroffice opened #27 "Builder causes Application Error"
While playing with template plus-minus(fold) and builder cause crash application.

Maybe all template files are not well named ?

[2015-01-12 13:17] grayghostvisuals commented on #27
I'm not seeing this.

[2015-01-12 18:05] jfroffice commented on #27
Might be a wrong issue.  I had seen this message "Application Error" one time. (maybe during Heroku server maintenance).

[2015-01-12 18:05] #27 closed

[2015-01-13 21:18] grayghostvisuals opened #28 "Provide transformicons JS method call for builds."
This code snippet below needs to be provided on builds otherwise users think the demos they pasted the code for are broken when you click and they won't transform.

[code]

[2015-01-13 22:30] jfroffice commented on #28
:+1:

[2015-01-15 14:57] grayghostvisuals opened #29 "Also Include SVG"
I think including SVG in this project is a must. Need to reword things slightly so that SVG is conveyed as something supported with this project.

[2015-01-23 18:07] grayghostvisuals commented on #28
[boom](https://github.com/grayghostvisuals/transformicons/commit/1d3383140265919ade0c654632b14e66b6bc09df)

[2015-01-23 18:07] #28 closed

[2015-01-23 18:07] grayghostvisuals commented on #26
[boom](https://github.com/grayghostvisuals/transformicons/commit/1d3383140265919ade0c654632b14e66b6bc09df)

[2015-01-23 18:07] #26 closed

[2015-02-04 13:44] grayghostvisuals opened #30 "Travis Environment"
Might need to add this line left but not sure yet.
[https://github.com/sass/node-sass/issues/532#issuecomment-72796834](https://github.com/sass/node-sass/issues/532#issuecomment-72796834)

[2015-02-05 00:33] #30 closed

[2015-02-09 18:47] grayghostvisuals opened #31 "Make Site Responsive."
Yes…it's on the list.

[2015-02-09 18:47] grayghostvisuals opened #32 "JS Event Handler for Touch/Click"
Per discussion w/Jan.

[2015-02-09 18:48] grayghostvisuals opened #33 "Code Organization"
The structure is pretty darn close just need to go through the Sass code and finalize naming conventions and usage context for each icon.

[2015-02-09 20:19] #29 closed

[2015-02-10 08:18] janpaepke commented on #29
to be honest one of the things I think is great about this project is that we can do Icons were people THINK it's based on SVGs but in fact it's pure CSS.
So maybe the wording should reflect that more clearly... as in "using pure CSS and/or SVG" or smth.

[2015-02-10 08:29] janpaepke commented on #32
On buttons only the click handler is necessary.
If there are elements in the future, where elements like `div` are used as a wrapper for elements that should react to click we'll need to remember this.
Theoretically all elements that expect to be clicked should be a `button` element.

[2015-02-10 08:29] #32 closed

[2015-02-10 08:40] janpaepke opened #34 "centralize .js file"
Currently the core lib for transformicons is stored in two locations in the project:

- /dist/transformicons.js
- /site/js/libs/transformicons.js

this might be confusing in the future.
There should be one file located in the source folder that gets copied to the dist folder on build.
Or the other way around.

The point is: There should be one main file.
Maybe the site should use a minified versio

[2015-02-10 08:46] janpaepke opened #35 "Builder only works once"
The builder only works the first time you use it.

Reproduce:
- click build
- change javascript radio button to minified
- click build again

nothing new will be generated until you reload the page.

[2015-02-10 09:00] janpaepke opened #36 "remove dotted outline from icons"
I think we should remove the dotted outline from the .tcon class.
see here: https://github.com/grayghostvisuals/transformicons/blob/master/dist/transformicons/base/_global-styles.scss#L19
example:
![image](https://cloud.githubusercontent.com/assets/3076177/6124019/e5fbea74-b109-11e4-9392-8d0bcc9736da.png)

I can't imagine a scenario were this would be visually desired.

The intention may be to pro

[2015-02-10 13:41] grayghostvisuals commented on #36
I think make it more fitting is the for the best.

[2015-02-10 13:41] grayghostvisuals commented on #35
@jfroffice Any idea on a fix t this?

[2015-02-10 13:42] grayghostvisuals commented on #34
agreed.

[2015-02-10 16:05] grayghostvisuals commented on #34
I got this taken care of on my end :) :+1:

[2015-02-10 16:05] #34 closed

[2015-02-10 19:58] grayghostvisuals commented on #35
Nm. I found the problem. It was caused by Prism dynamically highlighting the textarea elements when we compile to maintain syntax highlighting. I need to find a fix to this but I currently removed it for the moment on my local machine.

[2015-02-10 20:17] #35 closed

[2015-02-10 20:19] grayghostvisuals opened #38 "Syntax Highlighting for Builder Output"
Prism was removing the ``textarea`` elements when the code was injected in order to have syntax highlighting for the builder's output. Since it removes ``textarea`` we need to find a way to better handle the syntax highlighting for injected content using Prism.

See related issue : [https://github.com/grayghostvisuals/transformicons/issues/35](https://github.com/grayghostvisuals/transformicons/iss

[2015-02-10 22:44] jfroffice commented on #35
@grayghostvisuals I saw that Prism on network tab was called each time user press build button. ?!?!

No other expertise for now.

[2015-02-10 22:45] jfroffice commented on #34
:+1:

[2015-02-10 22:54] jfroffice commented on #36
:+1: to remove the outline.

Maybe we could make something like a 'material ripple effect' when an user click on a button.
http://codepen.io/Craigtut/pen/dIfzv

[2015-02-11 09:03] anselmh commented on #33
If you need help here I think it’d be helpfulto share what kind of help you need and what people could do :)

[2015-02-11 15:18] grayghostvisuals commented on #33
@anselmh Yeah agreed. Always in a hurry am I ;)
I actually organized the directory structure how I wanted so all good there. I'm gonna file a new issue with a clearly stated purpose. Much to do.

[2015-02-11 15:18] #33 closed

[2015-02-11 15:20] grayghostvisuals opened #39 "Help Designing Builder Template"
Anyone is free to help design the interface of the builder. RIght now it's the bare bones so feel free to jump in here. :) [http://www.transformicons.com/builder.html](http://www.transformicons.com/builder.html)

[2015-02-12 05:04] grayghostvisuals opened #42 "Usemin Works on only 1 file for Production Env."
For our production environment the ``usemin`` task w/gulp is only compressing and swapping refs for the first file in the ``gulpfile.js`` which is ``index.html``. Our builder and docs html get no love :(

[2015-02-12 10:58] srivathsah opened #43 "transformicons.com builder is not working"

[2015-02-12 14:07] #43 closed

[2015-02-13 00:37] grayghostvisuals opened #44 "PH and CoDrops link for README"
- [http://www.producthunt.com/posts/transformicons](http://www.producthunt.com/posts/transformicons)
- [http://tympanus.net/codrops/collective/collective-154/](http://tympanus.net/codrops/collective/collective-154/)

[2015-02-13 02:35] grayghostvisuals commented on #42
see related issue filed [https://github.com/zont/gulp-usemin/issues/104](https://github.com/zont/gulp-usemin/issues/104) Currently rewinding back to 0.3.8 until this is fixed.

[2015-02-13 07:33] jfroffice opened #45 "Assemble/Template/Layout Errors"
[code]

[2015-02-13 13:24] grayghostvisuals commented on #45
First you need to be using 0.10 for node as this is the engine specified for Heroku and listed in the package.json file. Try removing and reinstalling and let me know in another issue if that fails.

[2015-02-13 19:28] jfroffice commented on #45
OK.

I downgrade node v0.10.36.
I clone your repo.
[code]
I get this...

![capture d ecran 2015-02-13 a 20 23 45](https://cloud.githubusercontent.com/assets/964701/6193753/ad9fb022-b3be-11e4-8f77-d2ed82a45e04.png)

Strange ?!? any idea, how to fix this.

I am on [master].

[2015-02-13 19:47] grayghostvisuals commented on #45
@jfroffice Make sure you have the latest updates from master for me. Something is up on your end.

[2015-02-13 19:59] doowb commented on #45
We just pushed up some changes in assemble that might be affecting this. I'm looking into it now.

[2015-02-13 20:06] grayghostvisuals commented on #45
@doowb Thanks for the heads up. I did change the directory structure a bit so I'm not sure if he's experiencing something with assemble or because he does not have the latest changes.

[2015-02-13 20:08] doowb commented on #45
It's an assemble/template/layout issue. I tracked it down. Just need to fix it.

[2015-02-13 20:11] grayghostvisuals commented on #44
This is on my local copy of the development branch

[2015-02-13 20:11] #44 closed

[2015-02-13 20:12] grayghostvisuals commented on #45
@doowb nice! thanks for the spot. let me know when it's fixed :)

[2015-02-13 21:29] doowb commented on #45
Fixed, get the latest dependencies with `rm -fr node_modules && npm cache clear && npm i`

[2015-02-13 21:33] jonschlinkert commented on #45
this was all me folks. my apologies for any troubles this has caused. let us know if you have any more issues. (and thanks @doowb!)

[2015-02-13 21:35] grayghostvisuals commented on #45
Thanks gents! No worries just glad we caught it early :)

@jfroffice This should be working now, but let us know before I close the issue.

[2015-02-14 00:34] grayghostvisuals commented on #45
I just verified things myself. This should all be good now :metal: Thanks again for the help gang

[2015-02-14 00:34] #45 closed

[2015-02-14 09:45] jfroffice commented on #45
@grayghostvisuals it is also working on my side. Great ! thanks @doowb.

Any way to use a tag on package.son ?
[code]

What is release perspective for [assemble](https://github.com/assemble/assemble) ? @doowb @jonschlinkert

[2015-02-15 07:51] chjagr opened #46 "whats your favorite place in florida"

[2015-02-15 07:53] chjagr opened #47 "What. ethnic. group hasvery hot an beauty young laides an woman"

[2015-02-15 08:01] chjagr commented on #46
I love fun depot in lakeworth

[2015-02-15 08:20] chjagr commented on #46
I love playing lazer tag at fun depot what ur fave place To have fun at. In south florida. Purified . or any part of florida.

[2015-02-15 10:13] #47 closed

[2015-02-15 10:13] #46 closed

[2015-02-15 16:52] grayghostvisuals opened #48 "Heroku Log Errors for Deps.json"
2015-02-15T16:48:38.167016+00:00 app[web.1]: WARN: "mail" transform is not defined in deps.json
2015-02-15T16:48:38.167049+00:00 app[web.1]: WARN: "loader" transform is not defined in deps.json
2015-02-15T16:48:38.174343+00:00 app[web.1]: null

[2015-02-15 16:58] grayghostvisuals opened #49 "Heroku App Crash"
Around 2:09am on Feb15th the app crashed on Heroku sending me over 20 e-mails. Support has been alerted on Heroku and currently investigating the issues.

[2015-02-15 17:00] grayghostvisuals commented on #49
[code]

[2015-02-15 17:20] denoir opened #50 "Builder does not include all necessary styling"
**Reproducing the issue**
- [Open the builder](http://www.transformicons.com/builder.html)
- Select nothing but "Menu to X (Crossover Style)"
- Select "CSS"
- Choose unminified Javascript
- Click Build

**Expected outcome**
Receiving complete CSS and JS source required to set up the selected icon in my project.

**Actual outcome**
Only structural CSS is returned, no specific styling for the select

[2015-02-15 18:19] grayghostvisuals commented on #50
Yup. Thanks for the catch. I'm currently working on the fix. A few files are not being referenced in our dependency index.

[2015-02-15 18:29] grayghostvisuals commented on #48
@jfroffice Don't worry about this. I have it fixed on my end.

[2015-02-15 18:38] jfroffice commented on #48
Oops I gone commit it. Soon.

[2015-02-15 18:41] #50 closed

[2015-02-15 18:44] jfroffice commented on #48
:+1:

[2015-02-15 18:48] denoir commented on #50
Builder works as expected now, thank you!

[2015-02-15 18:49] denoir commented on #50
Builder works as expected now, thank you!

[2015-02-15 18:50] jfroffice commented on #48
vid--play still causes crash or display null.

@grayghostvisuals I can have a look.

[2015-02-15 18:55] grayghostvisuals commented on #48
@jfroffice No worries I'm already fixing it

[2015-02-15 18:55] grayghostvisuals commented on #50
@denoir np :palm_tree:

[2015-02-15 19:02] #48 closed

[2015-02-15 19:02] grayghostvisuals commented on #49
@jfroffice This is actually what is occurring in the logs right now. The deps.json appears to have the correct references :\

[2015-02-15 19:07] jfroffice commented on #49
@grayghostvisuals I reproduce the bug while playing with email--envelope or vid--play transform.

I saw little improvement to avoid this bug.

[2015-02-15 19:09] grayghostvisuals commented on #49
What does that mean?

[2015-02-15 19:18] jfroffice commented on #49
I pull the code it will be more simple.

[2015-02-15 19:21] jfroffice commented on #49
There might be a problem of consistency between the CSS class naming, SCSS file naming, and keys define in deps.json.

If there is an inconsistency the app might crash.

This patch try to avoid the crash.

[2015-02-15 19:24] #49 closed

[2015-02-15 22:54] jfroffice commented on #38
I make a pull request.
But it might be already merged on master.

Did I make something wrong ?

[2015-02-15 23:25] grayghostvisuals commented on #38
@jfroffice Nice! Clean work around too :+1:
Also going forward let's keep everything on development instead of merging into master. Thanks dude :)

[2015-02-16 01:52] grayghostvisuals commented on #38
see this commit for further explanation [https://github.com/grayghostvisuals/transformicons/commit/35ac4d33d0e13247d492263237f845f807633b29](https://github.com/grayghostvisuals/transformicons/commit/35ac4d33d0e13247d492263237f845f807633b29)

[2015-02-16 17:23] grayghostvisuals opened #55 "Upgrade Node to v0.12.x"
Currently v0.12.x of Node is buggy for us and our associated tool chain. Currently we are on 0.10.x both locally and on Heroku.

[2015-02-16 19:50] tnguyen14 opened #56 "CommonJS compat?"
I tried to build JS from the website, download it and include it in my project using browserify. However, I got the following error `Uncaught ReferenceError: transformicons is not defined`. The doc mentions that this uses UMD, which I assumed would be compatible with CommonJS. Am I doing something wrong here? Is there a way to use this with browserify/CommonJS environment?

[2015-02-16 19:59] grayghostvisuals commented on #55
this [commit](https://github.com/grayghostvisuals/transformicons/commit/e2f894d0b9f70d9b6a44a10144284db02238bc34) closes the issue.

[2015-02-16 19:59] #55 closed

[2015-02-16 20:01] grayghostvisuals commented on #56
We built the JS to be AMD compatible although I personally don't use commonJS. Can you provide me with an example of your setup so I can test myself?

[2015-02-16 20:24] tnguyen14 commented on #56
I paste the JS code into a file called `transformicon.js`, then in my main `app.js`, I require it like so
[code]
then run browserify on `app.js`.

I am not sure what is required to set up, but instead of appending the line `transformicons.add('.tcon');` at the end of the file, perhaps it could be used like this?
[code]

[2015-02-16 20:36] grayghostvisuals commented on #56
@tnguyen14 Are you saying we need to remove the ``transformicons.add('.tcon');`` call that we include by default for the builder?

[2015-02-17 02:27] tnguyen14 commented on #56
@grayghostvisuals I am not very familiar with the structure of the code, so I'm not sure the purpose of it, or why you need to expose it on the global scope as mentioned on your docs.

You can use this wrapper to make it compatible with both AMD and CommonJS https://github.com/umdjs/umd/blob/master/returnExports.js#L41, or this to expose to the global scope https://github.com/umdjs/umd/blob/master

[2015-02-17 02:50] tnguyen14 commented on #56
Update: I've tried using the `returnExports` and have it worked great with browserify. Basically, I just removed the line `transformicons.add('.tcon');` from the built file.

Then I used the snippet I suggested before, and it works well.
[code]

I think that if you use `returnExportsGlobal` to export it to a global variable if neither AMD and CommonJS is used, then it would work in all cases. You

[2015-02-17 14:43] grayghostvisuals commented on #56
This is exactly what I had originally asked. We can put a checkbox in that states to place the call in the built file or not or just not do it entirely? Not sure on that part yet.

[2015-02-17 15:02] tnguyen14 commented on #56
Personally I think that line should be written manually, so it is consistent across all environments (seems to be the approach taken on the website too?). But that will mean a breaking change to the library. Perhaps there's a way to do it automatically somehow with JS, but I am not sure.

[2015-02-18 17:58] grayghostvisuals opened #57 "Contributing Doc and Standardized Naming"
I really want an abundance of community support with this project and in order to make that happen some house cleaning needs to take place -mainly with the Sass we use for the Transformicons builder.

A naming convention need solidification for partials and we need a way to tell other developers how to make them when creating a Transformicon that's included in the builder and library. Naming is im

[2015-02-18 19:23] tnguyen14 commented on #56
In addition to remove that line, I think you need to update the UMD wrapper to use `returnExportsGlobal` too I believe.

[2015-02-18 20:05] grayghostvisuals commented on #56
@janpaepke Thoughts on what @tnguyen14 points out?

[2015-02-19 09:24] janpaepke commented on #56
Yes, that is true. Although I am still not quite sure why we would need a CommonJS export, as this is a front end module.
How is this useful outside of the browser?
Maybe someone can clarify?

[2015-02-20 16:46] tnguyen14 commented on #56
I disagree with that. CommonJS is widely used these days in the browser, thanks to compiler tools like browserify and webpack. In fact, many devs (including me) have been using npm as the main tool for package management for the browsers.

[2015-02-20 18:39] grayghostvisuals commented on #39
Need to make some little tiny icon of sorts that presents an overlay on top of the icon for the builder where it gives the name and maybe 1more important thing needed? not sure yet but that's the idea.

[2015-02-20 18:41] kennedysgarage opened #58 "What do the toggles/switches do?"
![screen shot 2015-02-20 at 1 41 10 pm](https://cloud.githubusercontent.com/assets/183007/6306994/2757b86e-b906-11e4-8f79-dc9d3e6d701b.png)

[2015-02-20 18:45] grayghostvisuals commented on #58
Green turns them on. Not making sense?

[2015-02-20 19:00] kennedysgarage commented on #58
Turns what on? If I click them they still work.

[2015-02-20 19:03] kennedysgarage commented on #58
Ohhh, you can select which ones you want to build.

[2015-02-20 19:05] grayghostvisuals commented on #58
Maybe a little note to users? We'll think on that

[2015-02-20 19:27] kennedysgarage commented on #58
I thought I was looking at the home page because I taped in from your [tweet](https://twitter.com/gryghostvisuals/status/568841621611126785) and didn't know I was in build mode. It makes a lot more sense now. Keep up the amazing work!

[2015-02-20 19:27] #58 closed

[2015-02-20 19:32] janpaepke commented on #56
That was the explanation I was hoping for. So I agree, let's add CommonJS.

[2015-02-20 19:34] janpaepke commented on #56
Please test and feel free to merge into master, if everything works.

[2015-02-20 19:51] tnguyen14 commented on #56
:+1:

[2015-02-20 20:15] tnguyen14 opened #59 "Minus/ remove icon"
Could I request icons here?

It'd be nice to have a remove icon that transform to the checkbox - similar to how the add icon is right now.

[2015-02-20 21:33] grayghostvisuals commented on #59
Yep definitely. Thanks for the suggestion.

[2015-02-20 21:42] #56 closed

[2015-02-21 03:19] grayghostvisuals commented on #56
@tnguyen14 Do the docs need updating for this adjustment?

[2015-02-24 02:11] grayghostvisuals opened #61 "Assemble Not Assembling"
@doowb
Assemble is totally breaking my man. [http://cl.ly/image/1c0R370m3J3w](http://cl.ly/image/1c0R370m3J3w) What can we do to fix this? Here's the output during the npm install as well [http://www.codeshare.io/ycV1B](http://www.codeshare.io/ycV1B)

Basically the templates folder is copying itself into my site folder which should be the compiled HTML not the .hbs files.

[2015-02-24 03:20] doowb commented on #61
Damn... I made a change earlier to fix another bug that's causing this. I'll have a fix soon.

[2015-02-24 03:31] doowb commented on #61
All better now.

[2015-02-24 03:41] grayghostvisuals commented on #61
@doowb Is there anything in place to catch these types of things from leaking out?

[2015-02-24 03:45] #61 closed

[2015-02-24 03:50] doowb commented on #61
I added a test for this case in the module that needed updating. Until we get assemble 0.6.0 published to npm and use semver, this is the best I can do. This was a little unique because we're trying to allow you to update the `path` in either the pipeline (using `gulp-extname`) or inside assemble middleware. To do that we need to make sure it all gets sync'd up before writing the file out. All the

[2015-02-24 04:32] grayghostvisuals commented on #61
Understandable I get. Thanks for the help on the quick fix.

[2015-02-24 14:33] grayghostvisuals opened #62 "Add CSS Weekly to Noteworthy Mentions on README"
[http://css-weekly.com/issue-151](http://css-weekly.com/issue-151)

[2015-02-26 18:18] merodriguezblanco commented on #31
l would like to take this one!

[2015-02-26 18:33] grayghostvisuals commented on #31
Great. Just an FYI I plan to lazylaod contributors avatars at the bottom and possibly remove them completely for smaller screens.

On another note this is a tool primarily for developers on desktop so it might be a good idea to just remove the builder nav for responsive situations? Frankly I feel making this responsive is not a breaking need but I'm up for arguments against my take.

[2015-02-27 01:30] merodriguezblanco commented on #31
Great! I'll work on some responsive improvements on [this branch](//github.com/merodriguezblanco/transformicons/tree/responsive-site).

I thought on removing the contributors avatars for widths < 768px.

[2015-02-27 02:41] #62 closed

[2015-02-28 22:23] merodriguezblanco commented on #31
So, I used three main media queries for the responsive version:

* 768px <= width <= 979px
* width <= 767px
* width <= 480px

The more visible changes are for the width <= 767px. For this width I:

* Hide the contributors section in the footer.
* Hide the build nav link on the header.
* Display the github links, the transformicons and the header links in a list-style way.

You can see the result o

[2015-03-01 19:23] merodriguezblanco commented on #31
@grayghostvisuals please see new pull request #66
Cheers!

[2015-03-10 22:10] merodriguezblanco commented on #59
@grayghostvisuals , @tnguyen14  I've been working on a remove checkbox similar to the add icon. You can check it on #67 .

Please let me know what you think!

[2015-03-11 03:01] merodriguezblanco commented on #36
@grayghostvisuals please see #68  ;)

[2015-03-12 01:44] #59 closed

[2015-03-14 17:26] grayghostvisuals opened #69 "New Static Site Generator"
We need to find a new static site generator with great community involvement and support. Project must be well maintained, have top notch documentation and be node based.

- [ ] http://hexo.io
- [ ] https://github.com/segmentio/metalsmith

[2015-03-23 17:11] gosupernova commented on #69
May I suggest Jekyll, http://jekyllrb.com/

I know you mentioned being node based but you can implement it with node & grunt so you can get a slick pipeline done along with live reload etc

[2015-03-23 17:30] grayghostvisuals commented on #69
@gosupernova What about for gulp?

[2015-03-23 19:35] gosupernova commented on #69
I have not used it (yet) but it looks like it does

https://www.npmjs.com/package/gulp-jekyll

[2015-03-23 20:19] grayghostvisuals commented on #69
That's a little too new for my taste unfortunately :( but thanks for leaving it here in case for reference.

[2015-03-24 20:02] grayghostvisuals opened #70 "Use a better Sass compiler"
Currently we're using node-sass to compile bit it's been kind of letting me down in terms of it's ability. What is better than node-sass?

[2015-03-24 20:06] arthurvr commented on #70
`node-sass` is official and the most complete. Ruby sass, which is terrible slow and would add another dependency, is the only alternative we have.

[2015-03-24 20:19] grayghostvisuals commented on #70
yup. my bad. node-sass it is still.

[2015-03-24 20:19] #70 closed

[2015-03-30 12:34] Worstkaes opened #71 "iOS 8.1.3 buggy burger-icon"
Hey,

I'm using transformicons for my burger-icon and it does not work well on iOS 8.1.3 iPhone 6. On the screenshot of my menu, you see the "opened" version of the icon.
I also tried to have a look on the icons on your page, but the burger-icons are not visible on my phone. Are there any issues with iOS 8.1.3?

I'm using the third one from this page: http://www.transformicons.com/builder.html

My

[2015-03-30 12:56] Worstkaes commented on #71
Now I've used the CSS-File instead Sass and it works fine. Maybe missed the Sass-File an update?

[2015-03-30 13:47] grayghostvisuals commented on #71
@Worstkaes So you went to the builder on the official site and tried to use the Sass compiled code? I'm slightly confused here.

[2015-03-30 13:49] Worstkaes commented on #71
Yep, sorry for the confusion. I used the builder on the official site.

[2015-03-30 13:50] grayghostvisuals commented on #71
The site isn't responsive at the moment and those rows use flexbox so getting more narrow in viewport width squeezes the containers which are using flexbox tightly. :)

[2015-03-30 14:09] Worstkaes commented on #71
Yeah, but I got the issue at my website. After clicking the burger-icon it only transforms to an "one-liner".
I made a fiddle for this: http://jsfiddle.net/pL8b0nqx/3/

Below you see the screenshot from my phone after clicking the burger-icon:
![img_0831](https://cloud.githubusercontent.com/assets/6573138/6897931/fb8274f4-d6f6-11e4-9e74-83dca373e932.jpg)

[2015-03-30 14:15] grayghostvisuals commented on #71
Yup. I got it now. I'll look into this more so I can find the root of the cause here. Thanks for the catch.

[2015-03-30 14:18] Worstkaes commented on #71
Nice, sorry for my crappy explanation. Next time I make a fiddle immediately. :)

[2015-03-30 14:22] grayghostvisuals opened #72 "Bug Submission Requirements"
Add these items to the README in their own section called “Before Filing a Report”

- [ ] Make an isolated demo
- [ ] List your setup and explain in detail the steps to follow in order to reproduce your bug.

[2015-03-30 20:23] grayghostvisuals commented on #71
I just used the builder on the site and didn't come across what you've shown in that fiddle. I didn't have time to inspect why you're fiddle is breaking, but either way this is working as it should. Here's the test case from the produced code I got [http://codepen.io/grayghostvisuals/full/f9a64f0611bdb5f448c81cea26b942cc/](http://codepen.io/grayghostvisuals/full/f9a64f0611bdb5f448c81cea26b942cc/)

[2015-03-31 07:44] Worstkaes commented on #71
This code works. But like I said: the css-file version works, the sass don't. Maybe you also used the css-version?

[2015-03-31 14:12] grayghostvisuals commented on #71
@Worstkaes I used the builder for **CSS and Sass** output for testing. Please try again as I think you might be mistaken.

[2015-03-31 14:26] Worstkaes commented on #71
I made a new fiddle with the following properties in the Transformicons Builder (http://www.transformicons.com/builder.html):
- third burger-icon from the left
- Styles: Sass
- Javascript: unminified
http://jsfiddle.net/pL8b0nqx/4/

I got still the same issue on my iPhone 6 iOS 8.1.3 and also on an iPad 4 iOS 7.0.2:
After clicking the burger-icon it transforms to one-line in the middle, like the s

[2015-03-31 15:07] grayghostvisuals commented on #71
@Worstkaes You need to remove this line from your JS

[code]

and add this line instead

[code]

The reason is the handler is already set for you within the main library so in your original code you were setting another click handler on top of the one already in place. If you look at the docs again you will see this part noted.

[2015-03-31 15:14] Worstkaes commented on #71
Oh yeah, that was me testing. I changed it here, but still the same bug on iOS: http://jsfiddle.net/pL8b0nqx/5/

[2015-03-31 16:14] grayghostvisuals commented on #71
@Worstkaes So I just did everything you've told me to do and updated my isolated case with your exact code that I copied and pasted from the JSfiddle you keep linking to [http://jsfiddle.net/pL8b0nqx/5/](http://jsfiddle.net/pL8b0nqx/5/). I can only test on iOS simulator ATM for 8.2 + Browserstack for Version 8.0 (550.1) and still not seeing your bug. I'm guessing something is weird with the JSFidd

[2015-03-31 16:42] Worstkaes commented on #71
I'm really sorry, but I don't think the fiddle-service is the problem. I used again your builder and made the following example by compiling your sass. I still think, there is only a bug in your sass file, because the normal css works fine.
I tested it on three different iOS Devices with different iOS Versions. Everywhere the same error.
http://th8853-web449.vorschau.server14.tophoster.de/transfor

[2015-03-31 17:43] grayghostvisuals commented on #71
What are you using to compile Sass on your end? Please also list the following…

1. Browser, version and OS you used with the tcons builder
2. Results form my request below

Also can you double check on your end with the pen I've been sending you please [http://codepen.io/grayghostvisuals/full/f9a64f0611bdb5f448c81cea26b942cc/](http://codepen.io/grayghostvisuals/full/f9a64f0611bdb5f448c81cea26b942

[2015-04-01 08:38] Worstkaes commented on #71
Hi,
yesterday I used quick&dirty the command-line for compiling with Sass 3.4.9.
For the tcons builder I used Chrome 41.0.2272.104 / Mac OS X 10.10.2.
Your link (http://codepen.io/grayghostvisuals/full/f9a64f0611bdb5f448c81cea26b942cc/) works fine on my iOS. Did you do something different?

[2015-04-01 12:54] grayghostvisuals commented on #71
@Worstkaes No I did not do anything different. Please read my prior comments to you. That code is the same code you gave me. Sorry to say but I'm not seeing this as an issue any longer.

[2015-04-01 12:54] #71 closed

[2015-04-02 02:01] merodriguezblanco commented on #72
Hi @grayghostvisuals, I can take this one. Where would you like this section to be displayed?

I have also noticed a typo under the `Transformicons Specs`, it currently says `If your Transformicon is truly is a ...`, and it should read `If your Transformicon is truly a ...`.

Please let me know your thoughts before I create the PR.

[2015-04-02 02:58] grayghostvisuals commented on #72
@merodriguezblanco Sounds good to me. Section can be somewhere in regards to contributing :)

[2015-04-02 14:44] merodriguezblanco commented on #72
@grayghostvisuals  this issue can be closed now ;)

[2015-04-02 14:51] #72 closed

[2015-04-03 18:16] #69 closed

[2015-04-13 18:02] tnguyen14 opened #74 "Icon size scaling"
When I change the `$tcon-size` variable in SASS, for eg. `$tcon-size: 20px`, the size of the actual icon is still the original larger size.

Specifically, I'm using the remove icon, and I can see in the code that its width and height is defined as `width: 34px;` and `height: 10px`. Should this size be scaled according to `$tcon-size`?

[2015-04-13 19:02] grayghostvisuals commented on #74
That icon was submitted by @merodriguezblanco so maybe he can make the adjustment for you.

[2015-04-14 21:31] merodriguezblanco commented on #74
Hi @tnguyen14  , this happens for all the add icons because the width and height are hardcoded. When I created the remove icon, I followed this convention.

@grayghostvisuals I think it would be a good idea for these icons to be resizable, is this something that we want to support?

[2015-04-14 22:28] grayghostvisuals commented on #74
I wonder if this is better handled through a scale transform? Originally I intended it to work as @tnguyen14 is attempting to use it (custom sizing).

[2015-04-14 22:30] merodriguezblanco commented on #74
On #75 I started working on scaling the add and remove icons. Let me know what you think about it.

[2015-04-17 00:10] merodriguezblanco opened #77 "Remove to arrow right and left icons"
Hi, I've added two more transformicons:

* Remove to left arrow
* Remove to right arrow

You may find them on [this branch](https://github.com/merodriguezblanco/transformicons/tree/remove-arrow-icons), which was checkout from #75 so that both icons scale properly.

@grayghostvisuals  please let me know what you think about them.

Cheers!

[2015-04-21 23:07] grayghostvisuals commented on #74
See commit [bda85ca2e16](https://github.com/grayghostvisuals/transformicons/commit/bda85ca2e16e2706b3a930e8bd4566c683187645)

[2015-04-21 23:07] #74 closed

[2015-04-21 23:46] grayghostvisuals opened #78 "Heroku Barfs for Env."
Heroku isn't using the production env when deployed for some reason.

[2015-04-22 02:50] grayghostvisuals commented on #78
see Heroku ticket [234255](https://help.heroku.com/tickets/234255)

[2015-04-22 03:50] merodriguezblanco commented on #78
Ok, it seems that the "del" module is not being included on the package.json for the production environment (only for the development enviroment).

Heroku was throwing me an ```Error: Cannot find module 'del'```

[2015-04-22 03:55] merodriguezblanco commented on #78
Please see #79 and let me know if it works for you.

[2015-04-22 20:23] grayghostvisuals commented on #78
Closing because this is sue to gulp-use-min that I have already filed an issue on.

[2015-04-22 20:23] #78 closed

[2015-04-23 08:19] Redsmith24 opened #80 "Don't work"
I tried to make a simple example, but I can't make it work. I used the builder to generate the code for one button-tranform. This is my simple HTML Page:

	<head>
		<meta charset="utf-8" />
		<title>test</title>
		<link rel="stylesheet" href="menue.css" type="text/css" media="screen" charset="utf-8" />
		<script src="menue.js" type="text/javascript"></script>
		<script type="text/javascript"> tran

[2015-04-23 12:49] grayghostvisuals commented on #80
@Redsmith24 Can you please make a live demo for me to see. There's no way for me to test when you have no assets provided.

[2015-04-23 12:57] Redsmith24 commented on #80
Yes, no problem:
http://dev.physiotherapie-elmshorn.de/navtest.html

Am 23.04.2015 um 14:49 schrieb Dennis Gaebel <notifications@github.com>:

[2015-04-23 13:15] grayghostvisuals commented on #80
@Redsmith24 Since you're loading stuff in the head the call to ``.tcon`` has no idea the DOM even exists yet. Fix is to add async to that script call or move the call before then ending ``body`` tag.

**Option 1**

[code]

**Option 2**

[code]

[2015-04-23 13:15] #80 closed

[2015-04-23 13:24] Redsmith24 commented on #80
Thank you, very helpful. I'm used to jquery with the ready-function, so I did not consider this point.

[2015-04-23 13:26] grayghostvisuals commented on #80
@Redsmith24 In that case you could do this too…

[code]

[2015-04-23 13:48] Redsmith24 commented on #80
Yes, thank you. In this project, I don't want to use other effetcs, so I don't want to load the jquery-script.

Option1 is not working, because of the async attribut. But there is another attribut that does the job: defer

Both attributes are only useful for external scripts so I integrates the transformicons.add('.tcon') in the external script, call it in the head with the defer attribut and: bin

[2015-04-26 18:34] grayghostvisuals commented on #77
This has been merged in already and can be closed now no?

[2015-04-26 19:04] merodriguezblanco commented on #77
Yes, this can be closed. Do you want me to work now on the chevron up to down, and chevron left to right icons?

[2015-04-26 19:57] grayghostvisuals commented on #77
sure.

[2015-04-26 19:57] #77 closed

[2015-07-08 20:30] grayghostvisuals commented on #42
There's a fix using gulp forEach mentioned by Ryan in his comment for issue #91 [https://github.com/zont/gulp-usemin/issues/91#issuecomment-101487485](https://github.com/zont/gulp-usemin/issues/91#issuecomment-101487485)

[2015-08-27 14:57] #42 closed

[2015-09-06 14:42] grayghostvisuals opened #82 "Add Carbon Ads"
big money y'all  :moneybag:

[2015-10-06 23:56] #82 closed

[2015-10-07 05:54] jfroffice commented on #82
@grayghostvisuals, so now ?

[2015-10-07 13:23] grayghostvisuals commented on #82
check is in the mail

[2015-10-07 14:45] kyleknighted opened #83 "Can't get example to work"
I copied over just the Search icon example to codepen and it doesn't seem to work.

http://codepen.io/kyleknighted/pen/WQjWKY

[2015-10-07 15:33] grayghostvisuals commented on #83
Add this at the end of the JS lib

[code]

This is also listed under the methods section of our docs [http://www.transformicons.com/docs.html](http://www.transformicons.com/docs.html) that will explain how to customize the events.

[2015-10-07 15:33] #83 closed

[2015-10-14 07:03] tnguyen14 opened #84 "tcon-remove background color not settable"
the `background-color` for `tcon-remove` is hard-coded as `black`, is there anyway it can be settable via default, similar to how `tcon-plus` is done `$tcon-plus-color: black !default;`?

[2015-10-14 13:10] grayghostvisuals commented on #84
Yep. For now you could create your own custom variable until I push up a fix for this.

[2015-10-14 17:03] tnguyen14 commented on #84
awesome! thanks!

[2015-12-17 02:59] K10shah commented on #31
Can i help you on this one ? I am a beginner to git and also web programming but i know the basics well

[2015-12-17 15:25] grayghostvisuals commented on #31
@K10shah Appreciate you having the desire to jump in here, but I it's not really beneficial to the project  at this time.

[2015-12-17 15:25] #31 closed

[2016-01-13 19:19] justo opened #86 "xcross animation broken in latest Microsoft Edge"
Can be reproduced on [http://www.transformicons.com/](http://www.transformicons.com/) in Edge. Only the xcross transform is incorrect.

![xcross_ms_edge](https://cloud.githubusercontent.com/assets/1137245/12304887/d97b9e0c-b9ff-11e5-871f-2d5f3e73fc44.gif)

MS Edge v25.10586.0.0
MS EdgeHTML 13.10586
Windows 10 Pro v1511

[2016-02-24 00:04] grayghostvisuals commented on #86
Any more news on this? Have not had a chance to check the reason why it's not working.

[2016-02-24 00:10] #84 closed

[2016-02-24 01:05] grayghostvisuals commented on #84
Once Heroku doesn't fail it's build to staging env. I can get this live. Sorry for the wait.

[2016-02-25 18:20] grayghostvisuals commented on #84
@tnguyen14 This is now live and all set for you to customize. Thanks for being patient :beers:

[2016-02-25 19:16] tnguyen14 commented on #84
Thank you!! I will try this again as soon as I can and report back.

[2016-02-26 17:25] grayghostvisuals opened #88 "Make Contrib Avatars Equal Size"
In order to keep avatars the same size when one is smaller add this line to the contribs ``li``

[code]

[2016-02-27 16:30] #88 closed

[2016-04-14 18:53] voodoo6 opened #89 "Novice question: how to use transformicon.revert() ?"
Hi,

I'll preface this by saying I have very little javascript knowledge.

I'm using a transformicon on a full page nav menu. When the user clicks the toggle nav button the transformicon animates to the X position and the nav appears. When the user clicks a nav link, I'd like the transformicon to animate back to the initial state.

I have an example here: http://menutester.webflow.io/

1. Reduce t

[2016-04-14 19:08] grayghostvisuals commented on #89
This is what u need to do.

[code]

[2016-04-14 19:08] #89 closed

[2016-04-14 19:33] voodoo6 commented on #89
So simple when you know how :)many thanks, it works perfectly.

[2016-08-18 12:28] ssuess opened #90 "Grid icon - Chrome/FF renders borders"
The grid icon looks perfect in Safari, but when rendered in Chrome or FF, the borders between rearranged squares are visible.

[2016-08-18 15:49] ssuess commented on #90
I should clarify: when in grid form, looks fine. When in X form, you see borders between parts.

[2016-08-18 17:43] grayghostvisuals commented on #90
Not sure I see a huge issue here…

![chrome](https://cloud.githubusercontent.com/assets/934322/17784191/94c05f32-6549-11e6-898b-833fbf660c32.gif)
*Chrome Stable Mac 10.11.5*

![firefox](https://cloud.githubusercontent.com/assets/934322/17784192/94c0aeba-6549-11e6-9d39-f9e6762fbdc3.gif)
*Firefox Stable Mac 10.11.5*

[2016-08-18 19:08] ssuess commented on #90
I realize "huge" is a relative concept, but it definitely looks very different (at least in my versions of these browsers).

Safari (Version 10.0 (12602.1.50.0.2)):
![screen shot 2016-08-18 at 3 04 27 pm](https://cloud.githubusercontent.com/assets/288542/17786992/63a9ddd6-6555-11e6-8396-281321f0de45.png)

and Chrome (Version 53.0.2785.70):
![screen shot 2016-08-18 at 3 05 02 pm](https://cloud.gith

[2016-08-19 03:43] grayghostvisuals commented on #90
Is that the actual size you're using in a project? You have them posted above as around roughly 97 x 91 whereas the ones I posted are 40 x 40

[2016-08-19 13:59] ssuess commented on #90
I was just zooming in for emphasis, they are still at 40px, but the lines are nevertheless quite visible at 40px. I didn't think zoom level should matter since this is all vector anyway. I did change the color (from black to white to work on my dark background) and so that is correctly represented.

[2016-10-26 20:50] blogdopata commented on #90
Nice animation !

[2016-10-26 21:05] jfroffice commented on #90
@ssuess, I also confirm the issue after taking a capture and zoom-in.

<img width="360" alt="issue90" src="https://cloud.githubusercontent.com/assets/964701/19745088/8370c38a-9bd0-11e6-94fa-a73387c57d63.png">

[2016-11-15 13:33] WilhelmH commented on #86
This is still a problem in the latest version:
MS Edge 34.14300.1000.0
MS EdgeHTML 14.14300

[2017-03-14 13:46] alexdiliberto commented on #86
This is now working on latest Edge, we can close this issue.

Microsoft Edge 38.14393.0.0

![test](https://cloud.githubusercontent.com/assets/666459/23903489/16dc829e-089b-11e7-8c08-ccd03e87005d.gif)

[2017-03-14 16:00] grayghostvisuals commented on #86
lol! Those who wait long enough never have to fix the issue. Thanks for the report everyone!

[2017-03-14 16:00] #86 closed